
@keyframes fastFadeIn {
    0% { opacity: 0; transform: translateY(-50px); }
    100% { opacity: 1; transform: translateY(0px);  }
}

@keyframes fadeIn {
    0% { opacity: 0; }
    50% { opacity: 0; transform: translateY(-25px); }
    100% { opacity: 1; transform: translateY(0px); }
}

@keyframes fixedFadeIn {
    0% { opacity: 0; }
    50% { opacity: 0; }
    100% { opacity: 1; }
}
