@import '../palette.scss';

body::-webkit-scrollbar {
  width: 0.2em;
  background-color: $bg;
}
 
body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
 
body::-webkit-scrollbar-thumb {
  background-color: #babac023;
}
