@import '../palette.scss';

.forum {
    .comment{
        background-color: rgba(255, 255, 255, 0.534);
        border-top: 2px;
        display:grid;
        grid-auto-rows: auto;
        border-bottom: 0;
        border-right: 0;
        border-style: solid;
        border-color: #32690a62;
        div{
            border-top: 2px;
            border-bottom: 0;
            border-left: 0;
            border-right: 0;
            border-style: solid;
            border-color: #5e5e5e3b;
            height:max-content;
        }
    }
    .pfp{
        float: left;
        margin-left:0.75rem;
        width:40px;
        height: 40px;
    }
    .username{
        margin-top: 0.5rem;
        float: left;
        padding-left:0.5rem;
    }
    .message{
        min-height: 4rem;
        float: left;
        text-align: left;
        padding-left: 1rem;
    }
    .likes{
        float: left;
        left: calc(20px + 4.3%);
        margin-left: 0.75rem;
        margin-top: -8px;
        position: absolute;
        width:50px;
        height:50px;
        transition: 0.3s;
        &:hover {
            transform: scale(120%);
        }
        cursor:pointer;
    }
    .likesl{
        margin-left: 70px;
        margin-top: 7px;
        margin-bottom: 5px;
        float: left;
    }

}

