@import '../palette.scss';

.pg-home {
    & > svg {
        display: block;
    }

    .splash {
        background: $lightgreen;

        img {
            display: none;
        }

        & > div {
            padding-bottom: 2rem;
        }

        h1 {
            animation: fastFadeIn 1s;
        }

        p {
            animation: fadeIn 1.5s;
        }

        a:nth-child(1) {
            animation: fadeIn 2s;
        }

        a:nth-child(2) {
            animation: fadeIn 2.5s;
        }

        animation: fastFadeIn 1s;

        & + svg {
            animation: fastFadeIn 1s;
        }
    }

    .btn-sign-in {
        background-color: $green;
        border-color: $green;

        padding: 16px 24px !important;
        transition: 0.3s !important;

        span {
            margin-right: 5px !important;
        }
    }

    .virtual-sous-chef-intro {
        & > div {
            flex-direction: column;

            & > div > img {
                padding: 1rem;
                // width: 256px;
                background: $buff;
                border-radius: 5rem;
            }
        }
    }

    
    @media only screen and (min-width: 60rem) {
        .splash {
            h1 {
                margin-top: 4.75rem;
            }
            img {
                display: block;
            }

            & > div {
                display: flex;
                padding-top: 2rem;
            }
        }

        .virtual-sous-chef-intro {
            & > div {
                flex-direction: row;
                margin-bottom: 20px;
            }
        }

        .splash img {
            transition: 0.3s;
            &:hover {
                transform: scale(125%);
            }
        }
    }
}

