@import '../palette.scss';

.pg-home {
    .splash {
        background: $blue;
    }

    .btn-sign-in {
        padding: 16px 24px !important;

        span {
            margin-right: 5px !important;
        }

        transition: 0.3s !important;
    }

    .btn-sign-in:hover {
        color: #ffffff !important;

        background-color: #000000 !important;
        border-color: #000000 !important;

        transform: scale(1.25) !important;
    }
}
