@import '../palette.scss';

.pg-home{
    .personalinformation{
        position: absolute;
        top: 10%;
        margin: auto;
        padding-left: 5%;
    }
    .registerforms{
        width:300px;
    }
    .rcard{
        width: fit-content;
        padding:10px;
        background: whtie;
        border: 1px;
        border-radius: 10px;
    }

    .slider{
        width:70%;
    }
}
