@font-face {
    font-family: 'Moon';
    src: url(../font/Moon\ Bold.otf) format('opentype');
}

* {
    box-sizing: border-box !important;
    margin: 0;
    padding: 0;
}

html {
    min-width: 100%;
    min-height: 100%;

    background: $bg;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;

    color: $text;
}

body, #root, #app {
    background: transparent;
}

body {
    font-family: 'Moon', sans-serif;
}

a {
    color: #0d6efd;
    &:hover {
        color: #0a58ca;
    }

    text-decoration: none;
}

a:not([href]):not([class]) {
    &, &:hover {
        color: inherit;
        text-decoration: none;
    }
}

@media only screen and (min-width: 75rem) {
    main {
        margin-top: 60px;
    }
}
