// @import 'https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap';
// @import 'https://fonts.googleapis.com/css2?family=Varela+Round&display=swap';
@import 'https://fonts.googleapis.com/css2?family=Inter&family=Source+Serif+4:opsz@8..60&display=swap';

* {
    box-sizing: border-box !important;
    margin: 0;
    padding: 0;
}

html {
    min-width: 100%;
    min-height: 100%;

    background: $bg;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;

    color: $text;
}

body, #root, #app {
    background: transparent;
}

body {
    font-family: 'Source Serif 4', sans-serif;
}

a {
    color: #0d6efd;
    &:hover {
        color: #0a58ca;
    }
}

a:not([href]):not([class]) {
    &, &:hover {
        color: inherit;
        text-decoration: none;
    }
}

@media only screen and (min-width: 75rem) {
    main {
        margin-top: 60px;
    }
}
