@tailwind base;
@tailwind components;
@tailwind utilities;

@import '../../../node_modules/bootstrap/dist/css/bootstrap.min.css';

@import './utils/scrollbar.scss';
@import './utils/animations.scss';
@import './utils/alertifyjs.scss';
@import './utils/socials.scss';

@import './common.scss';
