/*
 * Color palette.
 */

// Colors
$white:         #fdf8e9;
$sand:          #eacbaa;
$buff:          #c8a28d;
$black:         #1e1e1e;
$orange:        #da6525;
$green:         #68902b;
$lightgreen:    #93bc3d;
$blue:          #87c6fa;

// Socials
$facebook:      #3b579d;
$twitter:       #1da1f2;
$instagram:     #e4405f;
$reddit:        #ff4500;
$discord:       #5865f2;
$youtube:       #ff0000;
$github:        #181717;
$steam:         #2a475e;

// System Variables
$bg: $white;
$text: $black;
